/* src/components/views/Contact.css */
.contact-container {
    text-align: center;
    padding: 5rem;
  }
  
  .contact-row {
    text-align: center;
    padding: 5rem;
  }
  
  .contact-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .contact-lead {
    font-size: 1.25rem;
  }
  